<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.fipro.eclipse.migration.e4.ui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="org.fipro.eclipse.migration.e4.ui.Perspective"
            id="org.fipro.eclipse.migration.ui.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <e4view
            name="Overview"
            icon="icons/prop_ps.gif"
            class="org.fipro.eclipse.migration.e4.ui.view.overview.OverviewView"
            restorable="true"
            id="org.fipro.eclipse.migration.e4.ui.overview">
      </e4view>
      <e4view
            name="Description"
            icon="icons/environment_obj.gif"
            class="org.fipro.eclipse.migration.e4.ui.view.DescriptionView"
            restorable="true"
            id="org.fipro.eclipse.migration.e4.ui.description">
      </e4view>
      <e4view
            name="Details"
            icon="icons/editor.gif"
            class="org.fipro.eclipse.migration.e4.ui.view.DetailView"
            restorable="true"
            id="org.fipro.eclipse.migration.e4.ui.details">
      </e4view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               minimized="false"
               relative="org.eclipse.ui.editorss"
               id="org.fipro.eclipse.migration.e4.ui.overview"
               relationship="left">
         </view>
         <view
               minimized="false"
               ratio="0.75"
               relative="org.fipro.eclipse.migration.e4.ui.overview"
               id="org.fipro.eclipse.migration.e4.ui.description"
               relationship="bottom">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         id="MigrationTutorial"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.fipro.eclipse.migration.e4.ui.application"
            name="Eclipse Migration Tutorial">
         <property
               name="appName"
               value="Eclipse Migration Tutorial">
         </property>
         <property
               name="windowImages"
               value="icons/eclipse16.png,icons/eclipse32.png">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            default="false"
            name="Person Editor"
            icon="icons/editor.gif"
            class="org.fipro.eclipse.migration.e4.ui.editor.PersonEditor"
            id="org.fipro.eclipse.migration.ui.editor.personeditor">
      </editor>
   </extension>
   <extension
         id="org.fipro.eclipse.migration.e4.ui.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="always"
            uri="fragment.e4xmi">
      </fragment>
   </extension>

</plugin>
