<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.codecentric.eclipse.migration.ui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="de.codecentric.eclipse.migration.ui.Perspective"
            id="de.codecentric.eclipse.migration.ui.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.codecentric.eclipse.migration.ui.view.overview.OverviewView"
            icon="icons/prop_ps.gif"
            id="de.codecentric.eclipse.migration.ui.overview"
            name="Overview"
            restorable="true">
      </view>
      <view
            class="de.codecentric.eclipse.migration.ui.view.DetailView"
            icon="icons/editor.gif"
            id="de.codecentric.eclipse.migration.ui.detailview"
            name="Details"
            restorable="true">
      </view>
      <view
            class="de.codecentric.eclipse.migration.ui.view.DescriptionView"
            icon="icons/environment_obj.gif"
            id="de.codecentric.eclipse.migration.ui.descview"
            name="Description"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="de.codecentric.eclipse.migration.ui.overview"
               minimized="false"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="de.codecentric.eclipse.migration.ui.descview"
               minimized="false"
               ratio="0.75"
               relationship="bottom"
               relative="de.codecentric.eclipse.migration.ui.overview">
         </view>
         <actionSet
               id="de.codecentric.eclipse.migration.ui.fileActionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>
   <extension
         id="MigrationTutorial"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.codecentric.eclipse.migration.ui.application"
            name="codecentric Migration Tutorial">
         <property
               name="appName"
               value="codecentric Migration Tutorial">
         </property>
         <property
               name="windowImages"
               value="icons/eclipse16.png,icons/eclipse32.png">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Commands">
            <command
                  commandId="de.codecentric.eclipse.migration.ui.dialogCommand"
                  label="Dialog öffnen"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  label="Preferences"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="de.codecentric.eclipse.migration.ui.fileActionSet"
            label="Actions">
         <menu
               id="de.codecentric.eclipse.migration.ui.file"
               label="Actions"
               path="file">
            <separator
                  name="slot1">
            </separator>
         </menu>
         <action
               class="de.codecentric.eclipse.migration.ui.action.OpenDialogAction"
               id="de.codecentric.eclipse.migration.ui.dialogAction"
               label="Open Dialog Action"
               menubarPath="de.codecentric.eclipse.migration.ui.file/slot1"
               style="push">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="de.codecentric.eclipse.migration.ui.dialogCommand"
            name="Open Dialog Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.codecentric.eclipse.migration.ui.handler.OpenDialogHandler"
            commandId="de.codecentric.eclipse.migration.ui.dialogCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.codecentric.eclipse.migration.ui.editor.PersonEditor"
            default="false"
            icon="icons/editor.gif"
            id="de.codecentric.eclipse.migration.ui.editor.personeditor"
            name="Person Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.codecentric.eclipse.migration.ui.preferences.DescriptionPreferencePage"
            id="de.codecentric.eclipse.migration.ui.page1"
            name="Description">
      </page>
   </extension>

</plugin>
