<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="de.codecentric.eclipse.migration.e4.target" sequenceNumber="2">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.executable.feature.group" version="3.6.100.v20140819-1617"/>
<unit id="org.eclipse.jdt.feature.group" version="3.10.0.v20140925-0400"/>
<unit id="org.eclipse.rcp.sdk.id" version="4.4.1.M20140925-0400"/>
<repository location="http://download.eclipse.org/releases/luna/"/>
</location>
</locations>
</target>
