<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.fipro.eclipse.migration.e4.ui.Application">
         </run>
      </application>
   </extension>
   <extension
         id="MigrationTutorial"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.fipro.eclipse.migration.e4.ui.application"
            name="Eclipse Migration Tutorial">
         <property
               name="appName"
               value="Eclipse Migration Tutorial">
         </property>
         <property
               name="windowImages"
               value="icons/eclipse16.png,icons/eclipse32.png">
         </property>
      </product>
   </extension>
   <extension
         id="org.fipro.eclipse.migration.e4.ui.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="always"
            uri="fragment.e4xmi">
      </fragment>
   </extension>

</plugin>
